
body {
  background-color: #1C1C1C; 
  color: #FFFFFF;            
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Titel /*/
.page-title {
  text-align: center;
  font-size: 3rem;
  color: #FFD736; 
  margin: 40px 0;
}

.page-subtitle {
  text-align: center;
  font-size: 1.5rem;      
  color: #FFD736;         
  margin-top: 20px;
  margin-bottom: -10px;   
  font-weight: 500;
}


/* Links en afbeeldingen */
.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Links aan de linkerkant */
.course-links {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.course-links a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.2s;
}

.course-links a:hover {
  color: #FFD736;
  background-color: #222;
}

/* Afbeeldingen aan de rechterkant */
.course-images {
  flex: 3 1 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

.course-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.course-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  transition: transform 0.3s;
}

.course-card:hover img {
  transform: scale(1.05); 
}


.footer-line {
  height: 2px;              /* streep */
  width: 80%;              
  background-color: #FFFFFF; 
  margin: 40px auto;        
  border-radius: 1px;       
}

/* Responsive */
@media (max-width: 768px) {
  .courses-container {
    flex-direction: column;
  }

  .course-images {
    grid-template-columns: repeat(2, 1fr); /* 2 afbeeldingen per rij voor responsive */
  }
  .course-subtitle {
  color: #FFD736 !important;  
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 16px;
}


}
